<div id="queue">
  <ul>
    {{#each model.items}}
      <li class="video animated fadeInDown">
        <div class="progressbar">
          <div class="bar" role="bar" {{bind-attr style="progressCss"}}>
            <div class="peg"></div>
          </div>
        </div>
        <div class="controls">
          <button class="btn btn-warning btn-cancel" {{action "cancelVideo" this}}><i class="fa fa-times"></i></button>
        </div>
        <div class="thumb">
          <img height="60" width="80" {{bind-attr src="thumbnailUrl"}} />
        </div>
        <div class="title">{{title}}</div>
        <div class="info">{{progressText}}</div>
      </li>
    {{/each}}
  </ul>
</div>